<o-form #DepartmentForm attr="Department_form_insert" service="Department" entity="Department" 
keys="Id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #DepartmentName attr="DepartmentName" label=" Department Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-list-picker 
        attr="DepartmentId"
        service="Department" 
        entity="DepartmentType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;DepartmentId;DepartmentName" 
        title="Department"
        visible-columns="Id;DepartmentName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-integer-input #SecurityLevel attr="SecurityLevel" label="SecurityLevel" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>