<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="LastName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Employee_form_edit" 
        service="Employee" 
        entity="Employee" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="Id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #LastName attr="LastName" label=" Last Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-list-picker 
        attr="OnLoanDepartmentId"
        service="Department" 
        entity="DepartmentType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;OnLoanDepartmentId;DepartmentName" 
        title="OnLoanDepartment"
        visible-columns="Id;DepartmentName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="UnionId"
        service="Union" 
        entity="UnionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;UnionId;Name" 
        title="Union"
        visible-columns="Id;Name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="WorksForDepartmentId"
        service="Department" 
        entity="DepartmentType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;WorksForDepartmentId;DepartmentName" 
        title="WorksForDepartment"
        visible-columns="Id;DepartmentName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-text-input #FirstName attr="FirstName" label="FirstName" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Title attr="Title" label="Title" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #TitleOfCourtesy attr="TitleOfCourtesy" label="TitleOfCourtesy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #BirthDate attr="BirthDate" type="timestamp" label="BirthDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #HireDate attr="HireDate" type="timestamp" label="HireDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #Address attr="Address" label="Address" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #City attr="City" label="City" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Region attr="Region" label="Region" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PostalCode attr="PostalCode" label="PostalCode" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Country attr="Country" label="Country" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #HomePhone attr="HomePhone" label="HomePhone" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Extension attr="Extension" label="Extension" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Notes attr="Notes" label="Notes" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #ReportsTo attr="ReportsTo" label="ReportsTo" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #PhotoPath attr="PhotoPath" label="PhotoPath" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #EmployeeType attr="EmployeeType" label="EmployeeType" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-real-input #Salary attr="Salary" label="Salary" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
      <o-real-input #Dues attr="Dues" label="Dues" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
      <o-text-input #Email attr="Email" label="Email" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="EMPLOYEEAUDIT-EmployeeId">
    <div layout-padding>
      <o-table 
        attr="EmployeeAuditTable" 
        service="EmployeeAudit" 
        entity="EmployeeAudit" 
        keys="Id"
        parent-keys="EmployeeId:Id"
        columns="LastName;EmployeeId;Title;Salary;FirstName;CreatedOn;UpdatedOn;CreatedBy;UpdatedBy;Id"  
        horizontal-scroll="yes"
        detail-form-route="EmployeeAudit" 
        edit-form-route="EmployeeAudit"
        visible-columns="LastName;EmployeeId;Title;Salary;FirstName;CreatedOn;UpdatedOn;CreatedBy;UpdatedBy;Id"  
        sort-columns="LastName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #LastName attr="LastName" title=" Last Name" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="EmployeeId" title="Employee">
    <o-table-cell-renderer-service attr="EmployeeId" 
        service="Employee" entity="EmployeeType" columns="Id;LastName"
        parent-keys="Id:EmployeeId"
        value-column="LastName" keys="EmployeeId"
        visible-columns="LastName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Title attr="Title" title="Title" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Salary attr="Salary" title="Salary" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #FirstName attr="FirstName" title="FirstName" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CreatedOn attr="CreatedOn" title="CreatedOn" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #UpdatedOn attr="UpdatedOn" title="UpdatedOn" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #UpdatedBy attr="UpdatedBy" title="UpdatedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="EMPLOYEETERRITORY-EmployeeId">
    <div layout-padding>
      <o-table 
        attr="EmployeeTerritoryTable" 
        service="EmployeeTerritory" 
        entity="EmployeeTerritory" 
        keys="Id"
        parent-keys="EmployeeId:Id"
        columns="Id;EmployeeId;TerritoryId"  
        horizontal-scroll="yes"
        detail-form-route="EmployeeTerritory" 
        edit-form-route="EmployeeTerritory"
        visible-columns="Id;EmployeeId;TerritoryId"  
        sort-columns="Id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #Id attr="Id" title=" Id" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="EmployeeId" title="Employee">
    <o-table-cell-renderer-service attr="EmployeeId" 
        service="Employee" entity="EmployeeType" columns="Id;LastName"
        parent-keys="Id:EmployeeId"
        value-column="LastName" keys="EmployeeId"
        visible-columns="LastName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #TerritoryId attr="TerritoryId" title="TerritoryId" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ORDER-EmployeeId">
    <div layout-padding>
      <o-table 
        attr="OrderTable" 
        service="Order" 
        entity="Order" 
        keys="Id"
        parent-keys="EmployeeId:Id"
        columns="ShipName;CloneFromOrder;City;CustomerId;EmployeeId;OrderDate;RequiredDate;ShippedDate;ShipVia;Freight;ShipAddress;ShipCity;ShipRegion;ShipPostalCode;ShipCountry;AmountTotal;Country;Ready;OrderDetailCount;Id"  
        horizontal-scroll="yes"
        detail-form-route="Order" 
        edit-form-route="Order"
        visible-columns="ShipName;CloneFromOrder;City;CustomerId;EmployeeId;OrderDate;RequiredDate;ShippedDate;ShipVia;Freight;ShipAddress;ShipCity;ShipRegion;ShipPostalCode;ShipCountry;AmountTotal;Country;Ready;OrderDetailCount;Id"  
        sort-columns="ShipName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #ShipName attr="ShipName" title=" Ship Name" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="CloneFromOrder" title="CloneFromOrder">
    <o-table-cell-renderer-service attr="CloneFromOrder" 
        service="Order" entity="OrderType" columns="Id;ShipName"
        parent-keys="Id:CloneFromOrder"
        value-column="ShipName" keys="CloneFromOrder"
        visible-columns="ShipName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #City attr="City" title="City" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CustomerId attr="CustomerId" title="CustomerId" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="EmployeeId" title="Employee">
    <o-table-cell-renderer-service attr="EmployeeId" 
        service="Employee" entity="EmployeeType" columns="Id;LastName"
        parent-keys="Id:EmployeeId"
        value-column="LastName" keys="EmployeeId"
        visible-columns="LastName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #OrderDate attr="OrderDate" type="timestamp" label="OrderDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #RequiredDate attr="RequiredDate" type="date" label="RequiredDate" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #ShippedDate attr="ShippedDate" type="timestamp" label="ShippedDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #ShipVia attr="ShipVia" title="ShipVia" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Freight attr="Freight" title="Freight" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #ShipAddress attr="ShipAddress" title="ShipAddress" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipCity attr="ShipCity" title="ShipCity" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipRegion attr="ShipRegion" title="ShipRegion" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipPostalCode attr="ShipPostalCode" title="ShipPostalCode" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipCountry attr="ShipCountry" title="ShipCountry" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #AmountTotal attr="AmountTotal" title="AmountTotal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #Country attr="Country" title="Country" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="Ready" title="Ready">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #OrderDetailCount attr="OrderDetailCount" title="OrderDetailCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>