<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="Name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Union_form_edit" 
        service="Union" 
        entity="Union" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="Id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #Name attr="Name" label=" Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="EMPLOYEE-UnionId">
    <div layout-padding>
      <o-table 
        attr="EmployeeTable" 
        service="Employee" 
        entity="Employee" 
        keys="Id"
        parent-keys="UnionId:Id"
        columns="LastName;OnLoanDepartmentId;UnionId;WorksForDepartmentId;FirstName;Title;TitleOfCourtesy;BirthDate;HireDate;Address;City;Region;PostalCode;Country;HomePhone;Extension;Notes;ReportsTo;PhotoPath;EmployeeType;Salary;Dues;Email;Id"  
        horizontal-scroll="yes"
        detail-form-route="Employee" 
        edit-form-route="Employee"
        visible-columns="LastName;OnLoanDepartmentId;UnionId;WorksForDepartmentId;FirstName;Title;TitleOfCourtesy;BirthDate;HireDate;Address;City;Region;PostalCode;Country;HomePhone;Extension;Notes;ReportsTo;PhotoPath;EmployeeType;Salary;Dues;Email;Id"  
        sort-columns="LastName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #LastName attr="LastName" title=" Last Name" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="OnLoanDepartmentId" title="OnLoanDepartment">
    <o-table-cell-renderer-service attr="OnLoanDepartmentId" 
        service="Department" entity="DepartmentType" columns="Id;DepartmentName"
        parent-keys="Id:OnLoanDepartmentId"
        value-column="DepartmentName" keys="OnLoanDepartmentId"
        visible-columns="DepartmentName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="UnionId" title="Union">
    <o-table-cell-renderer-service attr="UnionId" 
        service="Union" entity="UnionType" columns="Id;Name"
        parent-keys="Id:UnionId"
        value-column="Name" keys="UnionId"
        visible-columns="Name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="WorksForDepartmentId" title="WorksForDepartment">
    <o-table-cell-renderer-service attr="WorksForDepartmentId" 
        service="Department" entity="DepartmentType" columns="Id;DepartmentName"
        parent-keys="Id:WorksForDepartmentId"
        value-column="DepartmentName" keys="WorksForDepartmentId"
        visible-columns="DepartmentName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #FirstName attr="FirstName" title="FirstName" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Title attr="Title" title="Title" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #TitleOfCourtesy attr="TitleOfCourtesy" title="TitleOfCourtesy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-date-input #BirthDate attr="BirthDate" type="timestamp" label="BirthDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #HireDate attr="HireDate" type="timestamp" label="HireDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #Address attr="Address" title="Address" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #City attr="City" title="City" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Region attr="Region" title="Region" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #PostalCode attr="PostalCode" title="PostalCode" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Country attr="Country" title="Country" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #HomePhone attr="HomePhone" title="HomePhone" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Extension attr="Extension" title="Extension" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Notes attr="Notes" title="Notes" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ReportsTo attr="ReportsTo" title="ReportsTo" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #PhotoPath attr="PhotoPath" title="PhotoPath" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #EmployeeType attr="EmployeeType" title="EmployeeType" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Salary attr="Salary" title="Salary" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #Dues attr="Dues" title="Dues" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #Email attr="Email" title="Email" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>