<o-form-layout-manager attr="Shipper" mode="dialog" title="SHIPPER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ShipperTable" 
            service="Shipper" 
            entity="Shipper" 
            title="SHIPPER"
            keys="Id"
            columns="CompanyName;Phone;Id" 
            header-actions="R;D"
            visible-columns="CompanyName;Phone;Id"  
            sort-columns="CompanyName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #CompanyName attr="CompanyName" title=" Company Name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Phone attr="Phone" title="Phone" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>