<o-form-layout-manager attr="Category" mode="dialog" title="CATEGORY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CategoryTable" 
            service="Category" 
            entity="Category" 
            title="CATEGORY"
            keys="Id"
            columns="CategoryName_ColumnName;Description;Id;Client_id" 
            header-actions="R;D"
            visible-columns="CategoryName_ColumnName;Description;Id;Client_id"  
            sort-columns="CategoryName_ColumnName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #CategoryName_ColumnName attr="CategoryName_ColumnName" title=" Category Name_ Column Name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Description attr="Description" title="Description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #Client_id attr="Client_id" title="Client_id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>