<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="ProductName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Product_form_edit" 
        service="Product" 
        entity="Product" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="Id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #ProductName attr="ProductName" label=" Product Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #QuantityPerUnit attr="QuantityPerUnit" label="QuantityPerUnit" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-real-input #UnitPrice attr="UnitPrice" label="UnitPrice" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
      <o-integer-input #UnitsInStock attr="UnitsInStock" label="UnitsInStock" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #UnitsOnOrder attr="UnitsOnOrder" label="UnitsOnOrder" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #ReorderLevel attr="ReorderLevel" label="ReorderLevel" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #SupplierId attr="SupplierId" label="SupplierId" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #CategoryId attr="CategoryId" label="CategoryId" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #Discontinued attr="Discontinued" label="Discontinued" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #UnitsShipped attr="UnitsShipped" label="UnitsShipped" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ORDERDETAIL-ProductId">
    <div layout-padding>
      <o-table 
        attr="OrderDetailTable" 
        service="OrderDetail" 
        entity="OrderDetail" 
        keys="Id"
        parent-keys="ProductId:Id"
        columns="Id;OrderId;ProductId;UnitPrice;Quantity;Discount;Amount;ShippedDate"  
        horizontal-scroll="yes"
        detail-form-route="OrderDetail" 
        edit-form-route="OrderDetail"
        visible-columns="Id;OrderId;ProductId;UnitPrice;Quantity;Discount;Amount;ShippedDate"  
        sort-columns="Id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #Id attr="Id" title=" Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="OrderId" title="Order">
    <o-table-cell-renderer-service attr="OrderId" 
        service="Order" entity="OrderType" columns="Id;ShipName"
        parent-keys="Id:OrderId"
        value-column="ShipName" keys="OrderId"
        visible-columns="ShipName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="ProductId" title="Product">
    <o-table-cell-renderer-service attr="ProductId" 
        service="Product" entity="ProductType" columns="Id;ProductName"
        parent-keys="Id:ProductId"
        value-column="ProductName" keys="ProductId"
        visible-columns="ProductName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #UnitPrice attr="UnitPrice" title="UnitPrice" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #Quantity attr="Quantity" title="Quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #Discount attr="Discount" title="Discount" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Amount attr="Amount" title="Amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-date-input #ShippedDate attr="ShippedDate" type="timestamp" label="ShippedDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>