<o-form-layout-manager attr="Territory" mode="tab" title="TERRITORY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="TerritoryTable" 
            service="Territory" 
            entity="Territory" 
            title="TERRITORY"
            keys="Id"
            columns="TerritoryDescription;Id;RegionId" 
            header-actions="R;D"
            visible-columns="TerritoryDescription;Id;RegionId"  
            sort-columns="TerritoryDescription" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #TerritoryDescription attr="TerritoryDescription" title=" Territory Description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Id attr="Id" title="Id" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #RegionId attr="RegionId" title="RegionId" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>