<o-form-layout-manager attr="SampleDBVersion" mode="dialog" title="SAMPLEDBVERSION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SampleDBVersionTable" 
            service="SampleDBVersion" 
            entity="SampleDBVersion" 
            title="SAMPLEDBVERSION"
            keys="Id"
            columns="Id;Notes" 
            header-actions="R;D"
            visible-columns="Id;Notes"  
            sort-columns="Id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #Id attr="Id" title=" Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #Notes attr="Notes" title="Notes" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>