<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="ShipName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Order_form_edit" 
        service="Order" 
        entity="Order" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="Id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #ShipName attr="ShipName" label=" Ship Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-list-picker 
        attr="CloneFromOrder"
        service="Order" 
        entity="OrderType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;CloneFromOrder;ShipName" 
        title="CloneFromOrder"
        visible-columns="Id;ShipName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-text-input #City attr="City" label="City" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-list-picker 
        attr="CustomerId"
        service="Customer" 
        entity="CustomerType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="VARCHAR"  
        keys="Id" 
        columns="Id;CustomerId;CompanyName" 
        title="Customer"
        visible-columns="Id;CompanyName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="EmployeeId"
        service="Employee" 
        entity="EmployeeType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;EmployeeId;LastName" 
        title="Employee"
        visible-columns="Id;LastName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-date-input #OrderDate attr="OrderDate" type="timestamp" label="OrderDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #RequiredDate attr="RequiredDate" type="date" label="RequiredDate" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #ShippedDate attr="ShippedDate" type="timestamp" label="ShippedDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #ShipVia attr="ShipVia" label="ShipVia" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-currency-input #Freight attr="Freight" title="Freight" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-text-input #ShipAddress attr="ShipAddress" label="ShipAddress" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ShipCity attr="ShipCity" label="ShipCity" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ShipRegion attr="ShipRegion" label="ShipRegion" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ShipPostalCode attr="ShipPostalCode" label="ShipPostalCode" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ShipCountry attr="ShipCountry" label="ShipCountry" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-currency-input #AmountTotal attr="AmountTotal" title="AmountTotal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-text-input #Country attr="Country" label="Country" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-checkbox #Ready attr="Ready" label="Ready" read-only="no" enabled="yes"></o-checkbox>
      
      <o-integer-input #OrderDetailCount attr="OrderDetailCount" label="OrderDetailCount" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ORDER-CloneFromOrder">
    <div layout-padding>
      <o-table 
        attr="OrderTable" 
        service="Order" 
        entity="Order" 
        keys="Id"
        parent-keys="CloneFromOrder:Id"
        columns="ShipName;CloneFromOrder;City;CustomerId;EmployeeId;OrderDate;RequiredDate;ShippedDate;ShipVia;Freight;ShipAddress;ShipCity;ShipRegion;ShipPostalCode;ShipCountry;AmountTotal;Country;Ready;OrderDetailCount;Id"  
        horizontal-scroll="yes"
        detail-form-route="Order" 
        edit-form-route="Order"
        visible-columns="ShipName;CloneFromOrder;City;CustomerId;EmployeeId;OrderDate;RequiredDate;ShippedDate;ShipVia;Freight;ShipAddress;ShipCity;ShipRegion;ShipPostalCode;ShipCountry;AmountTotal;Country;Ready;OrderDetailCount;Id"  
        sort-columns="ShipName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #ShipName attr="ShipName" title=" Ship Name" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="CloneFromOrder" title="CloneFromOrder">
    <o-table-cell-renderer-service attr="CloneFromOrder" 
        service="Order" entity="OrderType" columns="Id;ShipName"
        parent-keys="Id:CloneFromOrder"
        value-column="ShipName" keys="CloneFromOrder"
        visible-columns="ShipName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #City attr="City" title="City" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CustomerId attr="CustomerId" title="CustomerId" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="EmployeeId" title="Employee">
    <o-table-cell-renderer-service attr="EmployeeId" 
        service="Employee" entity="EmployeeType" columns="Id;LastName"
        parent-keys="Id:EmployeeId"
        value-column="LastName" keys="EmployeeId"
        visible-columns="LastName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #OrderDate attr="OrderDate" type="timestamp" label="OrderDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #RequiredDate attr="RequiredDate" type="date" label="RequiredDate" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #ShippedDate attr="ShippedDate" type="timestamp" label="ShippedDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #ShipVia attr="ShipVia" title="ShipVia" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Freight attr="Freight" title="Freight" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #ShipAddress attr="ShipAddress" title="ShipAddress" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipCity attr="ShipCity" title="ShipCity" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipRegion attr="ShipRegion" title="ShipRegion" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipPostalCode attr="ShipPostalCode" title="ShipPostalCode" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ShipCountry attr="ShipCountry" title="ShipCountry" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #AmountTotal attr="AmountTotal" title="AmountTotal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #Country attr="Country" title="Country" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="Ready" title="Ready">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #OrderDetailCount attr="OrderDetailCount" title="OrderDetailCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ORDERDETAIL-OrderId">
    <div layout-padding>
      <o-table 
        attr="OrderDetailTable" 
        service="OrderDetail" 
        entity="OrderDetail" 
        keys="Id"
        parent-keys="OrderId:Id"
        columns="Id;OrderId;ProductId;UnitPrice;Quantity;Discount;Amount;ShippedDate"  
        horizontal-scroll="yes"
        detail-form-route="OrderDetail" 
        edit-form-route="OrderDetail"
        visible-columns="Id;OrderId;ProductId;UnitPrice;Quantity;Discount;Amount;ShippedDate"  
        sort-columns="Id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #Id attr="Id" title=" Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="OrderId" title="Order">
    <o-table-cell-renderer-service attr="OrderId" 
        service="Order" entity="OrderType" columns="Id;ShipName"
        parent-keys="Id:OrderId"
        value-column="ShipName" keys="OrderId"
        visible-columns="ShipName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="ProductId" title="Product">
    <o-table-cell-renderer-service attr="ProductId" 
        service="Product" entity="ProductType" columns="Id;ProductName"
        parent-keys="Id:ProductId"
        value-column="ProductName" keys="ProductId"
        visible-columns="ProductName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #UnitPrice attr="UnitPrice" title="UnitPrice" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #Quantity attr="Quantity" title="Quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #Discount attr="Discount" title="Discount" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Amount attr="Amount" title="Amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-date-input #ShippedDate attr="ShippedDate" type="timestamp" label="ShippedDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>