<o-form #OrderForm attr="Order_form_insert" service="Order" entity="Order" 
keys="Id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #ShipName attr="ShipName" label=" Ship Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-list-picker 
        attr="CloneFromOrder"
        service="Order" 
        entity="OrderType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;CloneFromOrder;ShipName" 
        title="CloneFromOrder"
        visible-columns="Id;ShipName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #City attr="City" label="City" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-list-picker 
        attr="CustomerId"
        service="Customer" 
        entity="CustomerType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="VARCHAR"  
        keys="Id" 
        columns="Id;CustomerId;CompanyName" 
        title="Customer"
        visible-columns="Id;CompanyName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="EmployeeId"
        service="Employee" 
        entity="EmployeeType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="Id" 
        value-column-type="INTEGER"  
        keys="Id" 
        columns="Id;EmployeeId;LastName" 
        title="Employee"
        visible-columns="Id;LastName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #OrderDate attr="OrderDate" type="timestamp" label="OrderDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #RequiredDate attr="RequiredDate" type="date" label="RequiredDate" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #ShippedDate attr="ShippedDate" type="timestamp" label="ShippedDate" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #ShipVia attr="ShipVia" label="ShipVia" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-currency-input #Freight attr="Freight" title="Freight" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-text-input #ShipAddress attr="ShipAddress" label="ShipAddress" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ShipCity attr="ShipCity" label="ShipCity" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ShipRegion attr="ShipRegion" label="ShipRegion" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ShipPostalCode attr="ShipPostalCode" label="ShipPostalCode" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ShipCountry attr="ShipCountry" label="ShipCountry" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-currency-input #AmountTotal attr="AmountTotal" title="AmountTotal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-text-input #Country attr="Country" label="Country" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-checkbox #Ready attr="Ready" label="Ready" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #OrderDetailCount attr="OrderDetailCount" label="OrderDetailCount" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>