<o-form-layout-manager attr="Region" mode="dialog" title="REGION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="RegionTable" 
            service="Region" 
            entity="Region" 
            title="REGION"
            keys="Id"
            columns="RegionDescription;Id" 
            header-actions="R;D"
            visible-columns="RegionDescription;Id"  
            sort-columns="RegionDescription" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #RegionDescription attr="RegionDescription" title=" Region Description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>