<o-form-layout-manager attr="Department" mode="tab" title="DEPARTMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="DepartmentTable" 
            service="Department" 
            entity="Department" 
            title="DEPARTMENT"
            keys="Id"
            columns="DepartmentName;DepartmentId;SecurityLevel;Id" 
            header-actions="R;D"
            visible-columns="DepartmentName;DepartmentId;SecurityLevel;Id"  
            sort-columns="DepartmentName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #DepartmentName attr="DepartmentName" title=" Department Name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="DepartmentId" title="Department">
    <o-table-cell-renderer-service attr="DepartmentId" 
        service="Department" entity="DepartmentType" columns="Id;DepartmentName"
        parent-keys="Id:DepartmentId"
        value-column="DepartmentName" keys="DepartmentId"
        visible-columns="DepartmentName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #SecurityLevel attr="SecurityLevel" title="SecurityLevel" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #Id attr="Id" title="Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>